<div class="well">
  <h1>Hey <strong>{{ $ctrl.username }}</strong>!</h1>

  <p>Try to find as many words as possible before the time runs out...</p>

  <p>You have <span class="label label-warning"><strong>{{$ctrl.secondsLeft}}</strong> seconds left</span></p>

  <p>So far you have solved <span class="label label-default">{{$ctrl.solvedWordsCount}} words</span> with a total score of: <span class="label label-default">{{$ctrl.totalScore}}</span></p>


  <form>
    <div class="form-group">
      <label for="scrambled-word">Scrambled word:</label>
      <input readonly type="text" class="form-control" name="scrambled-word" id="scrambled-word" ng-model="$ctrl.word.scrambledWord">
    </div>

    <div class="form-group">
      <label for="guess">Your guess:</label>
      <input
        autofocus
        type="text"
        class="form-control"
        name="guess"
        id="guess"
        ng-keydown="$ctrl.onKeyDown($event)"
        ng-keyup="$ctrl.onKeyUp($event)"
        ng-model="$ctrl.guess"
        required
      >
      <span class="help-block">
        Score for this word: <span class="label label-default">{{$ctrl.word.currentScore}} out of {{$ctrl.word.maxScore}}</span></p>
      </span>
    </div>
  </form>
</div>

